<div class="searchbox">
    <label for="search-by"><i class="fa fa-search"></i></label>
    <input id="search-by" type="text" placeholder="{{ 'THEME_LEARN2_SEARCH_DOCUMENTATION'|t }}"
           data-search-input="{{ base_url_relative }}/search.json/query"/>
    <span data-search-clear><i class="fa fa-close"></i></span>
</div>
<div class="adv-search">
    <i class="fa fa-sliders"></i> <a href="{{ base_url_relative }}/tntsearch">Advanced Full-text Search</a>
</div>
